test/no_permission
pipex
test/*no_perm
*.o
*.out
src/init_pipex.o
*.o
src/*\.o
src/
src/init_pipex.o
src/main.o
src/pipex.o
test/infile_perm1
test/non_exit_out
test/outfile_1
test/outfile_no_exist
test/outfile_perm1
src/init_pipex.o
src/main.o
src/pipex.o
test/non_exit_out
test/outfile_1
tmp
tmp2
cat
libft
